.author
  padding: 10px 10px 10px 10px
  position: relative
  background:
    color: $color-gray-soft

  .image
    margin:
      top: 10px

  h2
    color: $color-primary
    margin: 10px 0
    font:
      weight: 700

  p
    font:
      size: .8em
    line-height: 1.4em
    padding:
      right: 20px

  ul
    position: absolute
    right: 0
    top: 0

    li
      text-align: center
      padding: 5px
      margin: 3px 0
      background:
        color: $color-gray